################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/madeleinesj.github.io/config
/.vs/slnx.sqlite
